.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 35rem;
  text-align: center;
  margin: 15rem auto;
  /* Center the container */
}

.loginHeader {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.loginForm {
  text-align: left;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formLabel {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.formInput {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  transition: border-color 0.3s ease;
}

.formInput:focus {
  border-color: var(--primary-color);
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.loginButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.loginFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginFooter a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.registerLink {
  display: inline-block;
  margin: 1rem 0;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.forgotPassword {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
