.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(231, 278, 278);
    min-height: 100vh;
    background-color: #fff;
}

.top {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: purple;
}

.horizaltalLine {
    height: 0;
    border: 0.5px solid rgb(231, 278, 278);
}

.center {
    padding-left: 1rem;
}

.sidebarItems {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1rem;
    color: #999;
    margin: 1.5rem 0;
}

.sidebarItems li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.sidebarItems li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 1.8rem;
    color: #7451f8;
}

.sidebarItems span {
    font-size: 1.3rem;
    font-weight: 600;
    color: #888;
    margin-left: 1rem;
}

.bottom {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.colorOption {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 0.5rem;
}

.colorOption:nth-child(1) {
    background-color: whitesmoke;
}

.colorOption:nth-child(2) {
    background-color: #333;
}